<html>
 <head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

  <body>
 <!-- Embedded Media Atmosphere -->
 <div id="atmosphere" style="display:none">
       <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VXPXkAhB6ek?autoplay=1&mute=1&controls=0"
       frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture"></iframe>
 </div>
 <!-- Transparent Layer to Prevent Interacting with Media -->
 <div id="dividingLayer"></div>

<!-- Instructions to Participant to Take In Environment -->
 <div id="instructions">
   <span id="instructions_text">
     Observe the environment on your screen.
   </span>
   <div id="instructions_background"></div>
 </div>

  <!-- Qualtrics Survey -->
 <div id="surveytask_cont" style="display:none">
     <div id="surveytask">
     <iframe src = "https://stanforduniversity.qualtrics.com/jfe/form/SV_5hBjuoHD7q3Yxtb" width="550vw" height="550vh" ALLOWTRANSPARENCY="false"></iframe>
    </div>
</div>

  <!-- Video Recorder -->
  <div id="recorder" style="display:none">
    <div id="vidcontainer">
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
    </div>
    
    <div class = "video">
        <img id="image">
    </div>
  </div>

  <!-- Scripts -->

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" type="text/javascript" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
  <script>
function showElems() {
     // After 5 seconds, hide the instructions text
 $(function(){
    setTimeout(function(){
      $('#instructions').hide();
    },3000);
 });

  // Also after 5 seconds, show the atmosphere
 $(function(){
    setTimeout(function(){
      $('#atmosphere').show();
    },3000);
 });

  // After 15 seconds, show the survey
 $(function(){
    setTimeout(function(){
      $('#surveytask_cont').show();
      $('#recorder').show();
    },3000);
 });
}

showElems();
    function capture(video, scaleFactor) {
        // Given a video and a scale factor, return a canvus with the video
        // frame displayed on it.
        if(scaleFactor == null){
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        var canvas = document.createElement('canvas');
            canvas.width  = w;
            canvas.height = h;
        var ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, w, h);
        return canvas;
    } 


    cv['onRuntimeInitialized']=()=>{
        // Wait for the CV module to initialize
        var socket = io('http://localhost:5000');

        socket.on('connect', function(){
            // Log connection to the socket on the backend
            if (socket.connected) {
                console.log("Connection to backend socket: SUCCESS")
            }
            else {
                console.log("Connection to backend socket: FAIL")
            }
        });

        const video = document.querySelector("#videoElement");

        video.width = 500; 
        video.height = 375;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        let cap = new cv.VideoCapture(video);

        const FPS = 22;

        setInterval(() => {
            // Every interval (FPS times per second), create the canvas, encode
            // the frame into bytes, and send the bytes to the image socket.
            cap.read(src);

            var type = "image/png"

            var video_element = document.getElementById("videoElement")
            var frame = capture(video_element, 1)
            var data = frame.toDataURL(type);

            socket.emit('image', data);
        }, 10000/FPS);


        socket.on('response_back', function(image){
            // Optionally do something with the response
        });
    }

 </script>

  </body>

  </html> 